* {
    margin: 0;
}

@font-face {
    font-family: "Pacifico";
    src: url("Fonts/Pacifico-Regular.woff2") format('woff2');
}

#b {
    display: inline-block;
    margin-left: 1vw;
    width: 1vw;
}

#d {
    display: inline-block;
    margin-left: 1vw;
    width: 1vw;
}

#bars,
#delay {
    vertical-align: middle;
}

.header {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    background-color: #5BC0F8;
    margin: 0;
    color: white;
    padding: 1vw 1vw 2vw 1vw;
    margin-bottom: 2vw;
}

h1 {
    font-size: 3vw;
    font-family: Pacifico, cursive;
    font-weight: lighter;
    width: 25%;
    text-align: center;
}

.range {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    flex-flow: wrap;
}

.slide {
    margin: 0vw 1vw;
}

.sorts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.vars {
    width: 60%;
    align-self: flex-start;
    text-align: center;
    font-size: 1.3vw;
    font-family: sans-serif;
}

input[type="button"] {
    margin: 1.5vw 0.5vw;
}

input[type="button"]:hover,
button:hover {
    background-color: #E1D7C6;
    cursor: pointer;
    color: #1200a4;
}

input[type="button"],
button {
    background: white;
    border: none;
    padding: 1.3vh;
    border-radius: 9vw;
    min-width: 8vw;
    color: rgb(6, 6, 223);
    font-size: 1.2vw;
}

.box {
    margin: 5px 5px 5px 5px;
    background-color: #5BC0F8;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 20px;
    border: solid black 1px;
}

#container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.slide {
    margin: 0vw 1vw;
}